.list {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 0;
}

.item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
}
